@import "~/.cache/wal/colors-rofi-dark.rasi"

* {
    font: "JetBrainsMonoNF 12";
    spacing: 2;
}

configuration {
    modes: [ combi, drun, window ];
    display-drun: " 󰍉 ";
    display-window: " 󱂬 ";
 }

element {
    border:  0;
    padding: 1px ;
    children: [element-icon,  element-text];
}